doctype HTML
head
  title= title
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
  // SCRIPTS
  script(type="text/javascript", src="/min/production.js")
  // SCRIPTS END
  // STYLES
  link(rel="stylesheet", href="/min/production.css")
  // STYLES END
  block styles
  // TEMPLATES
  
  // TEMPLATES END
body(ng-app)
  block body
