doctype HTML
head
  title= title
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
  // SCRIPTS
  script(type="text/javascript", src="/linker/js/socket.io.js")
  script(type="text/javascript", src="/linker/js/sails.io.js")
  script(type="text/javascript", src="/linker/js/app.js")
  script(type="text/javascript", src="/linker/js/lib/angular/angular.min.js")
  // SCRIPTS END
  // STYLES
  link(rel="stylesheet", href="/linker/js/lib/angular/angular-csp.css")
  // STYLES END
  block styles
  // TEMPLATES
  
  // TEMPLATES END
body(ng-app)
  block body
